{% extends "includes/layout.html" %}

{% block page_title %}
{% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<main id="content" role="main">

    {% include "includes/phase_banner_beta.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">

                <h1 class="heading-xlarge">
                        <span class="heading-secondary">Example summary</span>
                        Summary details
                </h1>

                <table id="summaryTable">
                    <caption class="heading-small">Example form summary</caption>
                    <tbody>
                        <tr>
                           <td>Full name</td>
                           <td>{{ form.fullName }}</td>
                        </tr>
                        <tr>
                            <td>Date of birth</td>
                            <td>{{ form.dob }}</td>
                        </tr>
                        <tr>
                            <td>How do you want to be contacted?</td>
                            <td>{{ form.preferredContactOption }}</td>
                        </tr>

                        {% if form.preferredContactOption == "email" %}
                        <tr>
                            <td>Email address</td>
                            <td>{{ form.contactEmail }}</td>
                        </tr>
                        {% endif %}
                    
                        {% if form.preferredContactOption == "phone" %}
                        <tr>
                            <td>Phone number</td>
                            <td>{{ form.contactPhone }}</td>
                        </tr>
                        {% endif %}
                        
                        {% if form.preferredContactOption == "sms" %}
                        <tr>
                            <td>Mobile phone number</td>
                            <td>{{ form.contactSmsNumber }}</td>
                        </tr>
                        {% endif %}

                        {% if form.bio %}
                        <tr>
                            <td>Bio</td>
                            <td>{{ form.bio }}</td>
                         </tr>
                         {% endif %}
                    </tbody>
                </table>
        </div>
    </div>
</main>

{% endblock %}
