{% extends "includes/layout.html" %}

{% block pageTitle %}
{% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

                <h1 class="govuk-heading-xl">
                    <span class="govuk-caption-xl">Example summary</span>
                    Summary details
                </h1>

                <table id="summaryTable" class="govuk-table">
                    <caption class="govuk-table__caption">Example form summary</caption>
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                           <th class="govuk-table__header" scope="row">Full name</th>
                           <td class="govuk-table__cell">{{ form.fullName }}</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th class="govuk-table__header" scope="row">Date of birth</th>
                            <td class="govuk-table__cell">{{ form.dob }}</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th class="govuk-table__header" scope="row">How do you want to be contacted?</th>
                            <td class="govuk-table__cell">{{ form.preferredContactOption }}</td>
                        </tr>

                        {% if form.preferredContactOption == "email" %}
                        <tr class="govuk-table__row">
                            <th class="govuk-table__header" scope="row">Email address</th>
                            <td class="govuk-table__cell">{{ form.contactEmail }}</td>
                        </tr>
                        {% endif %}

                        {% if form.preferredContactOption == "phone" %}
                        <tr class="govuk-table__row">
                            <th class="govuk-table__header" scope="row">Phone number</th>
                            <td class="govuk-table__cell">{{ form.contactPhone }}</td>
                        </tr>
                        {% endif %}

                        {% if form.preferredContactOption == "sms" %}
                        <tr class="govuk-table__row">
                            <th class="govuk-table__header" scope="row">Mobile phone number</th>
                            <td class="govuk-table__cell">{{ form.contactSmsNumber }}</td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
        </div>
    </div>

    <a id="list-link" class="govuk-link" href="/list-example">View in list</a>
{% endblock %}
